/* Utility class */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* font-family: 'Montserrat', sans-serif; */
    font-family: Arial, Helvetica, sans-serif;
}
body{
    min-width: 1500px;
    color: #33475B;
}
.clearfix::after{
    content: "";
    clear:both;
    display: table;
}
.container{
    width: 70%;
    margin: auto;
}
a{
   text-decoration: none;
}
.learn_more_bt{
    display: block;
    width: 150px;
    margin: 30px auto 0px;
    font-size: 15px;
    background-color: #FE775A;
    color: #FAFCFE;
    padding: 15px 30px;
    border: 5px solid #FE775A;
    border-radius: 5px;
}
/* /Utility class */


/* ******************** Header class ******************** */

.navbarup{
    background-color:#F4F9FD;
 }
.navbardown{
    background-color: #FFFFFF;
    border-top: 1px solid grey;
}

/* *****Nav_Bar class ***** */
.navbar_up{
    font-weight: 500;
}
.navbar_down{
    background-color: white;
}

/* Common menu class */
.left_menu_top, .left_menu_down{
    line-height: 80px;
    float: left;
}
.right_menu_top, .right_menu_down{
    line-height: 80px;
    float: right;
}
/* /Common menu class */

/* Left menu class */

    /* Top Menu */
    .left_menu_top{
        font-size: 15px;
        font-weight: 500;
    }
    .left_menu_top>select{
        font-size: 15px;
        font-weight: 500;
        border: 0px;
        background-color:#F4F9FD;
    }
    .left_menu_top>span{
        margin: 0px 10px;
    }
    .left_menu_top>a{
        color: #32495B;
    }
    /* /Top Menu */

    /* Bottom Menu */
    .left_menu_down img{
        vertical-align: middle;
        height: 35px;
    }
    /* /Bottom Menu */

/* /Left menu class */

/* Right menu class */

    /* Top Menù */
    .right_menu_top{
        font-size: 15px;
        font-weight: 500;
    }
    .right_menu_top img{
        height: 15px ;

    }
    .right_menu_top a:nth-child(2){
        background-color:#FAFCFE;
        color:  #FE775A;
        margin: 0px 20px 0px 20px;
        padding: 10px 10px;
        border: 1px solid #FE775A;
        border-radius: 5px;
    }
    .right_menu_top a:last-child{
        background-color:#FE775A;
        color: #FAFCFE;
        padding: 10px 10px;
        border: 1px solid #FE775A;
        border-radius: 5px;
    }
    /* /Top Menù */

    /* Bottom Menu */
    .ul_menu li{
        display: inline-block;
        font-size: 15px;
        font-weight: 500;
    }
    .ul_menu li:not(:last-child){
        margin-right: 30px;
    }
    .ul_menu>li>i{
        padding-left: 20px;
    }
    /* /Bottom Menu */
/* /Right menu class */

/* ***** /Nav_Bar class ***** */

/* ***** Jumbotron ***** */
.jumbotron{
    background-color: #FFF4EF ;
    background-image: url("../img/jumbotron.png");
    background-position-x: right;
    background-position-y: top;
    background-repeat: no-repeat;
    background-size: 85%;
}
.jumbo_txt{
   width: 50%;
   padding-top: 50px;
   margin-bottom: 200px;
}
.jumbo_txt h1{
    font-size: 2.5rem;
    font-weight: 800;
}
.jumbo_txt p{
    margin-top: 40px;
    font-size: 18px;
    line-height: 30px;
}
.jumbo_txt a{
    background-color: #FE775A;
    color: #FAFCFE;
    padding: 25px 25px;
    border: 1px solid #FE775A;
    border-radius: 5px;
    display: inline-block;
    margin-top: 40px;
}
.jumbo_txt span{
    display: block;
    margin-top: 40px;
    font-size: 15px;
}
#spacer_header_main{
    height: 90px;
    background-color: #AFEBE4;
    border-top: 2px solid #33475B;
    border-bottom: 2px solid #33475B;
}
/* ***** /Jumbotron ***** */

/* ******************** /Header class ******************** */

/* ******************** Main class ******************** */

/* Section_1 frame 1 - 2 - 3  */
.frame1_2_3{
    background-color: #F4F9FD;
}
/* Frame 1 */
.frame1{
    width: 77%;
    margin: auto;
    padding-top: 50px;
    background-color: #F4F9FD;
    text-align: center;
}
.frame1>img{
    height: 200px;
}
.frame1>p{
    padding-top: 30px;
    line-height: 40px;
    word-spacing: 0px;
}
/* /Frame 1 */

/* Frame 2 */
.frame2{
    width: 100%;
    margin: 50px auto;
    padding: 50px 80px ;
    border-radius: 5px;
    box-shadow: 0px 0px 2px 2px #E6ECF1;
    background-color:white;
}
.frame2_left{
    width: 30%;
    float: left;
    text-align: center;
}
.frame2_left>img{
    height: 150px;
}
.frame2_right{
    width:70%;
    float: left;
}
.frame2_right>p{
    padding-top: 50px;
    line-height: 40px;
}
.frame2_right>h4{
    display:inline-block;
    padding-top: 30px;
}
.line_h4::after{
    content: "";
    background: #899397;
    height: 2px;
    width: 500px;
    margin-top: 10px;
    position: absolute;
    transform: translateX(15%)
}
.checkbox{
    padding:25px 0px 10px 0px;
}
.checkbox>span{
    padding: 0px 25px 0px 15px;
}
.checkbox>i{
    color: #FE775A ;
}
/* /Frame 2 */

/* Frame 3 */

.frame3{
    width: 100%;
    margin-bottom: 50px;
}
.colum{
    width: calc(90%/3);
    float: left;
    text-align: center;
    padding: 30px 25px;
    border-radius: 10px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 3px 3px #E6ECF1;
}
.colum img{
    height: 150px;
    margin-bottom: 30px;
}
.colum p{
    line-height: 30px;
    margin-top: 50px ;
    font-size: 20px;
}
.colum.C{
    margin: 0px 5%;
}
.colum.R{
    float: right;
}
.colum div{
    text-align: left;
    margin-top: 25px;
    padding-left: 10px;
}
.colum i{
    margin-right: 20px;
    color: #FE775A;
}
.colum hr{
    margin: 20px 20px;
}
/* /Frame 3 */
/* Section_1 frame 1 - 2 - 3  */

/* Section_2 frame gradient_blue_bg  */
.gradient_blue_bg{
    background-image: linear-gradient(to right, #00AAB8 , #00B8A7);
    color: white;
    text-align: center;
}
/* Title class */
.title_blue_bg{
    padding-top: 50px;
    margin-bottom: 90px;
}
.title_blue_bg>h2{
    padding: 50px 25px 70px;
    font-size: 35px;
}
.title_blue_bg>p{
    padding: 0px 10px 10px 50px;
    font-size: 0.9rem;
    line-height: 30px;
}
/* /Title class */

/* Both Raw rules  */
.box{
    width: calc(100%/4);
    float: left;
    padding-bottom:20px;
}
.box>img{
    margin-bottom: 10px;
}
.grid .raw .box span:first-of-type{
    font-size: 40px;
    font-weight: 900;
    line-height: 80px;
}
.grid .raw .box span:first-of-type::after{
    content: '\002B';
    font-size: 40px;
    font-weight:200;
}
.grid .raw .box span:last-child{
    font-size: 15px;
}
/* Both Raw rules  */

/* Raw 1 rules */
.grid .raw.one .box{
    border-bottom: 1px solid white;
}
.grid .raw .box:not(:last-child){
    border-right: 1px solid white;
}
/* /Raw 1 rules */

/* Raw 2 rules */
.grid .raw.two{
    padding-bottom:100px;
}
.grid .raw.two .box>img{
    padding-top: 15px;
}
/* /Raw 2 rules */
/* Section_2 frame gradient_blue_bg  */

/* Section_3 frame_brands  */

.frame_brands{
    background-color: white;
}
.case{
    float:left;
}
/* Raw 1 frame_brands */
.frame_brands .raw.one{
    margin-bottom: 100px;
}
.case.numbers{
    width: 30%;
    line-height: 40px;
    padding: 80px 50px 0px 100px;
}
.case.numbers span{
    font-size: 50px;
    font-weight: 900;
}
.case.numbers p{
    padding-top: 80px;
}
.case.brands{
    width: 70%;
    padding-top:50px;
    padding-left: 100px;
    
}
.case.brands img{
    vertical-align: middle;
    text-align: right;
    width: 180px;
    padding: 30px 10px 30px 10px;
}
/* /Raw 1 frame_brands */

/* Raw 2 frame_brands */
.frame_brands .raw.two{
    padding-bottom: 50px;
}
.case.text{
    width: 45%;
}
.case.text h2{
    font-size: 40px;
    padding-bottom: 50px;
}
.case.text p{
    line-height: 40px;
    padding-bottom: 10px;
}
.case.text span:last-child{
    display: block;
    font-size: 16px;
    padding-top: 60px;
}
.case.text .get_hubspot_bt{
    display: inline-block;
    width: 200px;
    margin: 40px auto 0px;
    padding: 15px 30px;
    font-size: 15px;
    color: #FAFCFE;
    text-align: center;
    background-color: #FE775A;
    border: 5px solid #FE775A;
    border-radius: 5px;
}
.case.image{
    width: 55%;;
}
.case.image>img{
    height: 450px;
    padding-left: 325px;
}
/* /Raw 2 frame_brands */